<ion-view title="Login">
  <ion-content ng-controller="LoginCtrl as login">
    <div class="list">
            <label class="item item-input">
              <span class="input-label">Email</span>
              <input type="text" ng-model="login.loginData.email">
            </label>
            <label class="item item-input">
              <span class="input-label">Password</span>
              <input type="password" ng-model="login.loginData.password">
            </label>
          </div>
          <div class="padding">
            <button nav-clear class="button button-block button-positive" ng-click="login.doLogin()">Sign In</button>
    </div>
  </ion-content>
</ion-view>
