<ion-view view-title="Questions">
  <ion-content ng-controller="QuestionsCtrl as question" class="padding">
  <div class="card">
    <div class="item item-divider">
      <h1>(1.) Budget</h1>
    </div>
    <div class="item item-text-wrap">
    <!-- Some kind of money icon. -->
    <icon= "ion-cash">
      How would you best describe your home-buying budget right now?
    </div>
    <div class="item item-divider">
      Please pick one:
      <ion-list>
        <ion-radio ng-model="choice" ng-value="0-250000">Less than $250,000</ion-radio>
        <ion-radio ng-model="choice" ng-value="250000-500000">$250,000-500,000</ion-radio>
        <ion-radio ng-model="choice" ng-value="500000-750000">$500,000-750,000</ion-radio>
        <ion-radio ng-model="choice" ng-value="750000-10000000">More than $750,000</ion-radio>
        </ion-list>
    </div>
</div>
  </ion-content>
</ion-view>
