<ion-view view-title="Questions">
  <ion-content ng-controller="QuestionsCtrl as question" class="padding">
  <div class="card">
    <div class="item item-divider">
      <h1>(2.) Schools</h1>
    </div>
    <div class="item item-text-wrap">
    <!-- Some kind of school icon. -->
    <icon= "ion-cash">
      Is school choice near you important to you (i.e. do you have kids or plan
      on it?)
    </div>
    <div class="item item-divider">
      Please pick one:
      <ion-list>
        <ion-radio ng-model="choice" ng-value="true">Yes</ion-radio>
        <ion-radio ng-model="choice" ng-value="false">No</ion-radio>
      </ion-list>
    </div>
    <a href = "#/question3" class="button button-royal" style="width: 100%; margin: 20px 0">Next Question</a>
</div>
  </ion-content>
</ion-view>
