<ion-view view-title="Search">
  <ion-content ng-controller="SearchCtrl as search" class="padding">
  <h3>Let's find your neighborhood.</h3>
  <p>Type in a city and state below. Remember the budget you set!</p>
    <div class="item item-input-inset">
      <label class="item-input-wrapper">
      <!-- Grab this location and split by comma.
      This will be the city (,) and state. -->
        <input type="text" id = "location" ng-model="search.location" placeholder="Los Angeles, CA">
      </label>
      <button class="button button-royal" style="width: 100%; margin: 20px 0"
      ng-click="search.getHood()">Search</a>
    </div>

<!-- Try single-page search. Results below. -->
  <div id="locale">
  </div>
    <!-- Google Maps iFrame for city. -->
    <iframe id ="map"ng-src="{{search.trustUrl(search.url)}}">
    </iframe>
      <strong><li id="one"></li></strong> -Average Home price: $<div id="numone" style = "display:inline"></div>
      <strong><li id="two"></li></strong> -Average Home price: $<div id="numtwo" style = "display:inline"></div>
      <strong><li id="three"></li></strong> -Average Home price: $<div id="numthree" style = "display:inline"></div>
    </ul>
  </ion-content>
</ion-view>
