<ion-view view-title="Home">
  <ion-content class="padding">
    <h2>Welcome to RentControl.</h2>

    <h3>Find your neighborhood.</h3>

    <h4>Log in or Register below</h4>

    <form>
      <ion-list>
         <label class="item item-input">
         <span class="input-label">Name</span>
         <input type="text" placeholder="First and last" ng-model="data.username">
         </label>
          <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" placeholder="your@email" ng-model="data.email">
          </label>
          <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" placeholder="At least 6 characters" ng-model="data.password">
          </label>
           <label class="item item-input">
          <span class="input-label">Zip</span>
          <input type="password" placeholder="i.e. 90027" ng-model="data.password">
          </label>
        </ion-list>
      <button class="button button-stable button-block" ng-click="signupEmail()">Done</button>
        </form>

  </ion-content>
</ion-view>
